.searchBox {
  display: flex;
  gap: 5px;
  margin-bottom: 50px;
}
.searchBox input {
  border: solid 2px #e6e6e6;
  border-radius: 10px;
  padding: 0 100px 0 5px;
  font-weight: 500;
}
.searchBox button {
  background-color: #fe5d42;
  color: #fff;
  /* padding: 5px; */
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: none;
}
